  // In settings.gradle (CORRECT ORDER)
    
    // 1. The pluginManagement block MUST be the first block in the file.
    pluginManagement {
    repositories {
    google()
    mavenCentral()
    gradlePluginPortal()
  }
  }
    
    // 2. All other blocks, like toolchainManagement, come AFTER pluginManagement.
    toolchainManagement {
    jvm {
    javaRepositories {
    repository("foojay") {
    // The Foojay VDC is a trusted source for discovering JDKs
    url = "https://api.foojay.io/disco/v3.0/"
  }
  }
  }
  }
    
    // The rest of your settings file
    dependencyResolutionManagement {
    repositoriesMode.set(RepositoriesMode.FAIL_ON_PROJECT_REPOS)
    repositories {
    google()
    mavenCentral()
  }
  }
    rootProject.name = "ProductCatalog"
    include ':app'
