version: 2
jobs:
  build:
    working_directory: ~/ProductCatalog
    docker:
      # THIS IS THE FIX: Using a newer image that defaults to Java 17.
      - image: cimg/android:2024.01.1
    environment:
      # Setting JVM_OPTS is still a good practice for performance.
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      # Your existing steps are correct and do not need to be changed.
      - run:
          name: Chmod permissions
          command: sudo chmod +x ./gradlew
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.g radle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Run Unit Tests
          command: ./gradlew test
      - store_artifacts:
          path: app/build/outputs/apk/debug/
          destination: apks/
      - store_test_results:
          path: app/build/test-results
